@{Layout = "Views/Shared/_Layout.cshtml";}
<link rel="stylesheet" href="/Content/css/patients.css" media="screen" title="no title" charset="utf-8">
<script src="/Content/js/allPatients.js" type="text/javascript"></script>
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <!-- cosmetic feature shows the current page route -->
      <ul class="breadcrumb">
        <li>(Menu Name) > <span class="highlight-text">(Sub-menu Name)</span></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <!-- linked list used to navigate to parts of the page -->
      <div class="list-group">
        <a class="list-group-item active">View All Patient</a>
        <a class="list-group-item">Add New Patient</a>
        <a class="list-group-item">View All Appointment</a>
        <a class="list-group-item">Add New Appointment</a>
        <a class="list-group-item">View All Visit</a>
        <a class="list-group-item">Add New Visit</a>
        <a class="list-group-item">Add Condition</a>
        @if(Model.ContainsKey("message")&&Model.ContainsKey("evals"))
        {
          <blockquote>
            <h4>@Model["message"]</h4>
            @if(Model["evals"].Count != 0)
            {
            <h5>Patient: @Model["patient"].GetName()</h5>
              @foreach (var patientEvals in Model["evals"])
              {
                <p class="message-li">Date: @patientEvals.GetConditionEvalDate()</p>
                <ul>
                  <li class="message-li">Condition: @patientEvals.FindCondition().GetCondition()</li>
                </ul>
              }
            }else{
            <h5>No records found.</h5>
            }
          </blockquote>
        }else if(Model.ContainsKey("message")&&Model.ContainsKey("appointmentForPatient")){
          <blockquote>
            <h4>@Model["message"]</h4>
            @if(Model["appointmentForPatient"].Count != 0)
            {
              <h5>Patient: @Model["patient"].GetName()</h5>
              @foreach (var patientAppoint in Model["appointmentForPatient"])
              {
                <p class="message-li">Date: @patientAppoint.GetPatientSchedulingDate()</p>
                <ul>
                  <li class="message-li">Note: @patientAppoint.GetNote()</li>
                </ul>
              }
            }else{
              <h5>No records found.</h5>
            }
          </blockquote>
        }else if(Model.ContainsKey("message"))
        {
          <blockquote>
            <h4>@Model["message"]</h4>
          </blockquote>
        }
      </div>
    </div>
    <!-- main body for display of material -->
    <div class="col-md-7 col-md-offset-1">
      <!-- main panel should have panel-primary -->
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">View All Patient</h3>
        </div>
        <div class="panel-body">
          @if(Model["patients"].Count!=0){
            <div class="row patient-header-row">
              <div class="col-xs-4">
                <h3>Patient ID</h3>
              </div>
              <div class="col-xs-4">
                <h3>Name</h3>
              </div>
              <div class="col-xs-4">
                <h3>Address</h3>
              </div>
            </div>
            @foreach(var allPatient in Model["patients"])
            {
              <div class="row">
                <div class="col-xs-4">
                  <h4>@allPatient.GetId()</h4>
                </div>
                <div class="col-xs-4">
                  <h4>@allPatient.GetName()</h4>
                </div>
                <div class="col-xs-4">
                  <h4>@allPatient.GetAddress()</h4>
                </div>
              </div>

              <div class="row patient-margin-row">
                <div class="col-xs-4">
                  <a href="/patients/@Model["currentEmployee"].GetId()/add-new-record/view/patient/visit/@allPatient.GetId()" class="btn btn-info btn-sm patient-button-wide">View All Visit</a>
                </div>
                <div class="col-xs-4">
                  <a href="/patients/@Model["currentEmployee"].GetId()/add-new-record/view/patient/appointments/@allPatient.GetId()" class="btn btn-info btn-sm patient-button-wide">View All Appointment</a>
                </div>
                <div class="col-xs-4">
                  <div class="row">
                    <div class="col-xs-6">
                      <a href="#" class="btn btn-default patient-button btn-sm patient-button-wide patient-edit-button">Edit</a>
                    </div>
                    <div class="col-xs-6">

                        <button type="button" name="button" class="btn btn-danger btn-sm patient-button-wide" data-toggle="modal" data-target="#myModal">Delete</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row form-row">
                <form class="patient-update-form" action="/patients/@Model["currentEmployee"].GetId()/add-new-record/view/patient/edit/@allPatient.GetId()" method="post">
                <input class="patient-input" type="hidden" name="_method" value="PATCH">
                  <div class="col-xs-4">
                    <input class="form-control input-sm" class="form-group" type="text" name="edit-new-name" value="" placeholder="Enter new name">
                  </div>
                  <div class="col-xs-4">
                    <input class="form-control input-sm" class="form-group" type="text" name="edit-new-address" value="" placeholder="Enter new address">
                  </div>
                  <div class="col-xs-4">
                    <button type="Submit" name="button" class="btn btn-default patient-button btn-sm patient-button-wide"> Submit Changes</button>
                  </div>
                </form>
              </div>

              <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                    </div>
                    <div class="modal-body">
                      <form class="" action="/patients/@Model["currentEmployee"].GetId()/add-new-record/view/patient/delete/@allPatient.GetId()" method="post">
                        <input type="hidden" name="_method" value="DELETE">
                        <h3>Are you sure? This operation cannot be undone!</h3>
                        <button type="Submit" name="button" class="btn btn-danger btn-sm patient-button-wide">DELETE PATIENT AND ALL ASSOCIATED INFORMATION</button>
                      </form>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>


            }

          }else{
            <h4>No Patients in System</h4>
          }

          <div>
          </div>
        </div>
      </div>

      <div class="panel">
        <div class="panel-heading">
          <h3 class="panel-title">Add New Patient</h3>
        </div>
        <div class="panel-body panel-hide">
          <div class="row">
            <form class=""   action="/patients/@Model["currentEmployee"].GetId()/add-new-record/add/patients" method="post">
              <div class="col-xs-4">
                <input required class="form-control input-sm" type="text" name="patient-name" value="" placeholder="Patient Name">
              </div>
              <div class="col-xs-4">
                <input required class="form-control input-sm" type="text" name="patient-address" value="" placeholder="Patient Address">
              </div>
              <div class="col-xs-4">
                <button type="submit" class="btn btn-info btn-sm" name="button">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!-- every panel after the hide should have the panel-hide class the panel-body -->
      <div class="panel">
        <div class="panel-heading">
          <h3 class="panel-title">View All Appointment</h3>
        </div>
        <div class="panel-body panel-hide">
          @if(Model["patientScheduling"].Count!=0)
          {
            <ul>
              @foreach( var scheduling in Model["patientScheduling"])
              {
                <li>Patient Name : @scheduling.GetPatient().GetName()</li>
                <li> Date : @scheduling.GetPatientSchedulingDate()</li>
              }
            </ul>
          }else{
            <h4>Not any Appointment in System yet</h4>
          }

          <div>
          </div>
        </div>
      </div>

      <div class="panel">
        <div class="panel-heading">
          <h3 class="panel-title">Add New Appointment</h3>
        </div>
        <div class="panel-body panel-hide">

          @if(Model["patients"].Count!=0&&Model["employees"].Count!=0)
          {
            <form class="" action="/patients/@Model["currentEmployee"].GetId()/add-new-record/add/appointment/" method="post">
              <div class="row">
                <div class="col-xs-6">
                  <select class="form-control input-sm" name="appointment-patient-id">
                    <option selected disabled>Select Patient</option>
                    @foreach(var allPatient in Model["patients"])
                    {
                      <option value="@allPatient.GetId()">@allPatient.GetName()</option>
                    }
                  </select>
                </div>
                <div class="col-xs-6">
                  <select required class="form-control input-sm" name="appointment-employees-id">
                    <option selected disabled>Select Physician</option>
                    @foreach(var employee in Model["employees"])
                    {
                      <option value="@employee.GetId()">@employee.GetFullName()</option>
                    }
                  </select>
                </div>
              </div>

              <label for="patient-appointment-note">Patient Appointment Note</label>
              <textarea required class="form-control" rows="5" name="patient-appointment-note" id="patient-appointment-note"></textarea>
              <br>
              <div class="row">
                <div class="col-xs-9">
                  <input required class="form-control input-sm" type="date" name="patient-appointment-date" id="patient-appointment-date">
                </div>
                <div class="col-xs-3">
                  <button class="btn btn-info btn-sm" type="submit" name="button">Submit</button>
                </div>
              </div>
            </form>

          }else {
            <h4> A patient and doctor must be added.</h4>
          }

          <div>

          </div>
        </div>
      </div>

      <div class="panel">
        <div class="panel-heading">
          <h3 class="panel-title">View All Visit</h3>
        </div>
        <div class="panel-body panel-hide">
          @if(Model["conditionEval"].Count!=0){
            @foreach( var visit in Model["conditionEval"])
            {
              <li>Patient Name : @visit.GetPatient().GetName()</li>
              <li>Eval Date  : @visit.GetConditionEvalDate()</li>
            }
          }else{
            <h4>No records found.</h4>
          }

        </div>
      </div>

      <div class="panel">
        <div class="panel-heading">
          <h3 class="panel-title">Add New Evaluation</h3>
        </div>
        <div class="panel-body panel-hide">
        @if(Model["patients"].Count!=0&&Model["employees"].Count!=0&&Model["conditions"].Count!=0)
        {
          <form class="" action="/patients/@Model["currentEmployee"].GetId()/add-new-record/add/visit" method="post">
            <div class="row">
              <div class="col-xs-6">
                <select required class="form-control input-sm" name="visit-patient-id">
                  <option selected disabled>Select Patient</option>
                  @foreach(var allPatient in Model["patients"])
                  {
                    <option value="@allPatient.GetId()">@allPatient.GetName()</option>
                  }
                </select>
              </div>
              <div class="col-xs-6">
                <select required class="form-control input-sm" name="appointment-employees-id">
                  <option selected disabled>Select Physician</option>
                  @foreach(var employee in Model["employees"])
                  {
                    <option value="@employee.GetId()">@employee.GetFullName()</option>
                  }
                </select>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-xs-5">
                <select required class="form-control input-sm" name="visit-condition-id">
                  <option selected disabled>Select Condition</option>
                  @foreach(var allCondition in Model["conditions"])
                  {
                    <option value="@allCondition.GetId()">@allCondition.GetId() @allCondition.GetCondition()</option>
                  }
                </select>
              </div>
              <div class="col-xs-5">
                <input required class="form-control input-sm"type="date" name="visit-date" id="visit-date">
              </div>
              <div class="col-xs-2">
                <button type="submit" name="button" class="btn btn-info btn-sm">Submit</button>
              </div>
            </div>
          </form>
        }else{
          <h4>Please add a patient, doctor and condition before adding a new evaluation.</h4>
        }
        </div>
      </div>
      <div class="panel">
        <div class="panel-heading">
          <h3 class="panel-title">Add Condition</h3>
        </div>
        <div class="panel-body panel-hide">
          <form class="" action="/patients/@Model["currentEmployee"].GetId()/add-new-record/add/Condition" method="post">
            <button type="submit" name="button" class="btn btn-info">Add Stable, Urgent and Critical in System</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
