@{Layout = "Views/Shared/_Layout.cshtml";}

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <!-- cosmetic feature shows the current page route -->
      <ul class="breadcrumb">
        <li>(Menu Name) > <span class="highlight-text">(Sub-menu Name)</span></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <!-- linked list used to navigate to parts of the page -->
      <div class="list-group">
        <a class="list-group-item active">View All Diagnoses</a>
        <a class="list-group-item">Add New Diagnosis</a>
        <a class="list-group-item">View All Symptoms</a>
        <a class="list-group-item">Add New Symptom</a>

        @if(Model.ContainsKey("message"))
           {
             <blockquote>
               <p class="message-li">@Model["message"]</p>
             </blockquote>
           }
      </div>
    </div>

    <!-- main body for display of material -->
    <div class="col-md-7 col-md-offset-1">
      <!-- main panel should have panel-primary -->
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">View All Diagnoses</h3>
        </div>
        <div class="panel-body">
          <ul>
            @foreach( var diagnosis in Model["diagnosis"])
            {
              <li>Patient Name: @diagnosis.GetPatient().GetName()</li>
              <ul>
                <li> Date of Diagnosis: @diagnosis.GetDiagnosisDate()</li>
                <li> Symptoms Observed: @diagnosis.GetSymptom().GetName()</li>
              </ul>
            }
          </ul>
        </div>
      </div>

      <div class="panel">
        <div class="panel-heading">
          <h3 class="panel-title">Add New Diagnosis</h3>
        </div>
        <div class="panel-body panel-hide">
          @if(Model["symptoms"].Count!=0)
          {
            <form class="" action="/patients/@Model["currentEmployee"].GetId()/add-new-eval/add/diagnosis" method="post">
              <div class="row">
                <div class="col-xs-6">
                  <select class="form-control input-sm" name="diagnosis-patient-id">
                    <option selected disabled>Select Patient</option>
                    @foreach(var allPatient in Model["patients"])
                    {
                      <option value="@allPatient.GetId()">@allPatient.GetName()</option>
                    }
                  </select>
                </div>
                <div class="col-xs-6">
                  <select required class="form-control input-sm" class="" name="diagnosis-employees-id">
                    <option selected disabled>Select Physician</option>
                    @foreach(var employee in Model["employees"])
                    {
                      <option value="@employee.GetId()">@employee.GetFullName()</option>
                    }
                  </select>
                </div>
              </div>
              <div class="row">
                <div class="testCheckBox">
                  <div class="container">
                    <br>
                    @foreach(var allsymptom in Model["symptoms"])
                    {
                      <p><input type="checkbox" name="symptom" value="@allsymptom.GetId()"> @allsymptom.GetClassification() - @allsymptom.GetName() </p>
                    }
                    <br>
                    <input id="hiddenInput" type="hidden" name="symptom-array" value="">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-4">
                  <input required class="form-control input-sm" type="date" name="diagnosis-date" id="diagnosis-date">
                </div>
                <div class="col-xs-3">
                  <button class="btn btn-info btn-sm" type="submit" name="button">Submit</button>
                </div>
                <div class="col-xs-5">
                </div>
              </div>
            </form>
          }else{
            <h4>Symptoms are required to create a new diagnosis.</h4>
          }

        </div>
      </div>
      <!-- every panel after the hide should have the panel-hide class the panel-body -->
      <div class="panel">
        <div class="panel-heading">
          <h3 class="panel-title">View All Symptoms</h3>
        </div>
        <div class="panel-body panel-hide">
        <ul>
          @foreach(var allsymptom in Model["symptoms"])
          {
            <li> Symptom: @allsymptom.GetName()</li>
            <ul>
              <li> Classification: @allsymptom.GetClassification()</li>
            </ul>
            @if (@allsymptom.IsContagious())
            {
              <ul>
                <li>Contagious or potentially contagious</li>
              </ul>
            } else {
              <ul>
                <li>Not contagious</li>
              </ul>
            }
          }
        </ul>
      </div>
      </div>

      <div class="panel">
        <div class="panel-heading">
          <h3 class="panel-title">Add New Symptom</h3>
        </div>
        <div class="panel-body panel-hide">
          <form class="" action="/patients/@Model["currentEmployee"].GetId()/add-new-eval/add/symptom" method="post">
            <div class="row">
              <div class="col-xs-3">
                <input required class="form-control input-sm" type="text" name="symptom-name" value="" placeholder="Symptom">
              </div>
              <div class="col-xs-3">
                <input required class="form-control input-sm" type="text" name="symptom-classification" value="" placeholder="Classification">
              </div>
              <div class="col-xs-3">
                <select required class="form-control input-sm" class="" name="visit-contagious">
                  <option selected disabled value="true">Select</option>
                  <option value="true">Contagious</option>
                  <option value="false">Not Contagious</option>
                  <option value="true">Potentially Contagious</option>
                </select>
              </div>
              <div class="col-xs-3">
                <button class="btn btn-info btn-sm" type="submit" name="button">Add Symptom</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="http://code.jquery.com/jquery-2.2.4.min.js"></script>

<script src="/Content/js/checkbox.js" type="text/javascript">

</script>
