@{Layout = "Views/Shared/_Layout.cshtml";}

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <!-- cosmetic feature shows the current page route -->
      <ul class="breadcrumb">
        <li>Personnel > <span class="highlight-text">Current</span></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <!-- linked list used to navigate to parts of the page -->
      <div class="list-group">
        <a class="list-group-item active">Current</a>
        <a class="list-group-item">Sort By Name</a>
        <a class="list-group-item">Sort by Type</a>
      </div>
    </div>
    <!-- main body for display of material -->
    <div class="col-md-7 col-md-offset-1">
      <!-- main panel should have panel-primary -->
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Current</h3>
        </div>
        <div class="panel-body">
          <table class="table table-striped table-hover text-center">
            <tr>
              <strong>
                <td>ID</td>
                <td>NAME</td>
                <td>TYPE</td>
                <td>EMAIL</td>
              </strong>
            </tr>
            @foreach(var employee in @Model["allEmployees"])
            {
              <tr>
                <td>@employee.GetId()</td>
                <td><a href="/personnel/@Model["currentEmployee"].GetId()/current/@employee.GetId()">@employee.GetFullName()</a></td>
                <td>@employee.GetEmployeeType()</td>
                <td>@employee.GetEmail()</td>
              </tr>
            }
          </table>
        </div>
      </div>
      <!-- every panel after the hide should have the panel-hide class the panel-body -->
      <div class="panel">
        <div class="panel-heading">
          <h3 class="panel-title">Sort By Name</h3>
        </div>
        <div class="panel-body panel-hide">
          <table class="table table-striped table-hover text-center">
            <tr>
              <strong>
                <td>ID</td>
                <td>NAME</td>
                <td>TYPE</td>
                <td>EMAIL</td>
              </strong>
            </tr>
            @foreach(var employee in @Model["namedEmployees"])
            {
              <tr>
                <td>@employee.GetId()</td>
                <td><a href="/personnel/@Model["currentEmployee"].GetId()/current/@employee.GetId()">@employee.GetFullName()</a></td>
                <td>@employee.GetEmployeeType()</td>
                <td>@employee.GetEmail()</td>
              </tr>
            }
          </table>
        </div>
      </div>
      <div class="panel">
        <div class="panel-heading">
          <h3 class="panel-title">Sort by Type</h3>
        </div>
        <div class="panel-body panel-hide">
          <table class="table table-striped table-hover text-center">
            <tr>
              <strong>
                <td>ID</td>
                <td>NAME</td>
                <td>TYPE</td>
                <td>EMAIL</td>
              </strong>
            </tr>
            @foreach(var employee in @Model["typedEmployees"])
            {
              <tr>
                <td>@employee.GetId()</td>
                <td><a href="/personnel/@Model["currentEmployee"].GetId()/current/@employee.GetId()">@employee.GetFullName()</a></td>
                <td>@employee.GetEmployeeType()</td>
                <td>@employee.GetEmail()</td>
              </tr>
            }
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
